.heading-container {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  z-index: 1;

  h1 {
    color: white;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2.5em;

    margin-bottom: 3.5vh;

    // Set initial conditions for animating
    transform: translateY(-100%);
    opacity: 0;

    // Set animation settings
    animation-name: slideInTop;
    animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 650ms;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 2.15em;
      margin-bottom: 2.25vh;
    }
  }

  h4 {
    color: white;

    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 1.75em;

    // Set initial conditions for animating
    transform: translateY(-100%);
    opacity: 0;

    // Set animation settings
    animation-name: slideInBottom;
    animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 950ms;
  }

  @media (max-width: 600px) {
    h4 {
      font-size: 1.45em;
    }
  }

  .text-container {
    overflow: hidden;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 0.6;
  }
}
