div.portfolio-item {
  padding-top: 10vh;
  padding-bottom: 10vh;

  margin-left: auto;

  overflow: visible;

  &:not(:last-of-type) {
    margin-bottom: 15vh;
  }

  div.portfolio-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 0px;
  }
}
